doctype html
html
  head
    title FTS Script Downloader
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    style.
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='#') Script Downloader
      div.collapse.navbar-collapse#navbarCollapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#') Home

    main(role='main' class='container')
      div.starter-template
        h1 FTS Script Downloader
        p.lead
          | Download and set up your environment with these handy scripts.
        ul.list-group
          li.list-group-item
            | MySQL Node Setup
            button.btn.btn-primary.float-right(onclick=`copyCommand("mysqlnodesetup.sh", "${baseUrl}")`) Copy Command
          li.list-group-item
            | PostgreSQL Node Setup
            button.btn.btn-primary.float-right(onclick=`copyCommand("postgressnodesetup.sh", "${baseUrl}")`) Copy Command

    script.
      function copyCommand(scriptName, baseUrl) {
        const command = `curl -O ${baseUrl}/api/download/${scriptName} && chmod +x ${scriptName} && ./${scriptName}`;
        navigator.clipboard.writeText(command)
                .then(function() {
                  alert('Command copied to clipboard!');
                })
                .catch(function(err) {
                  console.error('Could not copy text: ', err);
                });
      }
      console.log("Thanks for checking out the site! -DarkerMatter")